@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/background\ home.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  color: white;
}
.nav {
  background-color: white;
  padding: 10px 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  left: 25px;
  right: 25px;
  border-radius: 15px;
}
.btn {
  padding: 7px 20px;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  background-color: #0077b6;
  color: white;
}
.btn:hover {
  color: #0077b6;
  background-color: white;
  cursor: pointer;
}
.div1 {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
}
.logo {
  font-size: 20px;
}
.links-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}
.p1 {
  opacity: 50%;
}
.links-list li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}
.links-list li a:hover {
  color: #0077b6;
}
.mh {
  background-color: #e5e5e5;
}
.our-sec {
  padding: 60px 130px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.our {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.services {
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 40px 40px;
  background-color: white;
}

.popular-sec {
  padding: 60px 130px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.popular {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.pop {
  gap: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background-color: white;
}
.img1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 400px;
}
.pop2 {
  padding: 30px 20px;
}
.pop3 {
  display: flex;
  flex-direction: column;
  padding: 7px;
}
.comment-sec {
  padding: 60px 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.comment {
  display: flex;
  gap: 30px;
}
.cmnt0 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 30px;
  background-color: white;
}
.cmnt {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.cmnt img {
  border: 0px;
  border-radius: 50%;
}

.footer {
  padding: 60px 130px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer div {
  width: 70%;
}
.f1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list1 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list2 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list3 {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.list3 a {
  opacity: 50%;
}
.list1 a {
  text-decoration: none;

  color: black;
}
@media (max-width: 1024px) {
  .nav{
    
    justify-content: center;
    
    
    padding: 1px 2px;
  }
  .nav ul{
    display: none;
  }
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
  }
  .div1{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
  .our-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
  }
  .our{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services{
    width: 270px;
  }
  .popular-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
  }
  .popular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .pop{
    width: 350px;
  }
  .pop img {
    width: 350px;
  }
  .comment-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
  }
  .comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
  }
  .f1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
